.arclight/
.idea/
crash-reports/
defaultconfigs
logs/
libraries/
world/
arclight.conf
eula.txt
bukkit.yml
installer_stripped.jar.log
neoforge-21.1.215-installer.jar
ops.json
run.bat
run.sh
server.jar
spigot.yml
user_jvm_args.txt
usercache.json
usernamecache.json
whitelist.json
